[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/night-owl.vim"]
	path = vim/bundle/night-owl.vim
	url = https://github.com/haishanh/night-owl.vim.git
[submodule "nano"]
	path = nano
	url = https://github.com/scopatz/nanorc.git
